<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
      h5 {
        margin: 0;
      }
      @font-face { font-family: 'Inter'; src: 'https://rsms.me/inter/inter.css'; }
      @media (max-width: 710px) {
        #headline { padding-left: 10% !important;
                    padding-right: 10% !important; 
                  }
      }
    </style>
  </head>
  <body style="margin: 0;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding: 0;">
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr style="height: 100px; background-color: #3F72FF;">
              <td width="20%"></td>
              <td style="text-align: center; vertical-align: top; padding-top: 25px;" width="60%">
                {% load static %}
                <img src="cid:DoggoProfilePic.png" style="width: 80px; height: 80px;">
              </td>
              <td width="20%"></td>
            </tr>
            <tr style="height: 25px; background-color: #3F72FF;">
                <td colspan="5"></td>
            <tr style="height: 20px;">
              <td style="background-color: #3F72FF;"></td>
              <td id="headline" style="background-color: #FFFFFF; vertical-align: bottom; padding-left: 16.33%; padding-right: 16.33%; padding-top: 10px;">
                <h2 style="font-family: 'Inter', Arial, Sans-Serif; font-size: 18px; font-weight: bold; text-align: center; line-height: 150%; margin: 20px 0;">Password reset for DBTG</h2>                
              </td>
              <td style="background-color: #3F72FF;"></td>
            </tr>
            <tr style="height: 188px;">
              <td style="background-color: #F2F2F2;"></td>
              <td style="background-color: #FFFFFF;  padding-bottom: 20px;">
                <p style="padding: 0 25px; margin: 16px 0;">You (or someone who's not you) requested to reset your password on DBTG.</p> 
                <p style="padding: 0 25px;">Please select the link below - or copy and paste the link below into your favorite browser - to continue with your password reset.</p> 
                <a href="{{ reset_password_url}}" style="display: block; padding: 0 25px;font-family: 'Inter', Arial, Sans-Serif; color: #3F72FF; font-size: 14px; line-height: 150%; text-decoration: none;" data-url="{{ reset_password_url }}">{{ reset_password_url}}</a>
                <p style="padding: 0 25px; margin: 16px 0;">If you received this in error, feel free to ignore it!</p> 
                <p style="padding: 0 25px;">Have any questions? <a href="mailto:bajicmladen33@gmail.com">Drop us a line.</a></p> 
                <p style="padding: 0 25px; margin: 16px 0;">Thank you!</p> 
                <p style="padding: 0 25px;">DBTG Team</p>
              </td>
              <td style="background-color: #F2F2F2;"></td>
             </tr>
             <tr style="padding-bottom: 20px">
               <td style="background-color: #F2F2F2; padding-top: 30px; padding-bottom: 30px; vertical-align: top;" colspan="5">
                <h6 style="font-family: 'Inter', Arial, Sans-Serif; font-size: 12px; font-weight: 500; line-height: 150%; color: #0E1116; opacity: 0.6; text-align: center; margin-bottom: 5px;">&copy; DBTG 2023 &bull; DBTG, Inc.</h6>
                <a style="display: block; font-family: 'Inter', Arial, Sans-Serif; font-size: 12px; font-weight: 500; line-height: 150%; color: #0E1116; opacity: 0.6; text-align: center;" href="https://google.com">dbtg.com</a>
              </td>
            </tr>
          </table>
  </body>
</html>
